<!DOCTYPE HTML>
<html ondragstart="return false" onselectstart="return false">
	<head>
        <meta charset="UTF-8" />
		<meta name="theme-color" content="#4285f4" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="QuickZoom 2.0" />
		<meta property="og:description" content="일일이 찾기는 귀찮으니까." />
		<meta property="og:image" content="/quickzoom2/images/opengraph.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<title>QuickZoom 제2외국어</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/quickzoom2/images/quickzoom2.png">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/quickzoom2/qz2lang/main.css" />
		<noscript><link rel="stylesheet" href="/quickzoom2/assets/css/noscript.css" /></noscript>
	</head>
    <body>
        <div class="container">
            <div class="card">
                <div class="circle">
                    <h2>일본어</h2>
                </div>
                <div class="content">
                    <p>일본어 수업으로 이동합니다</p>
                    <a href="<%= data[0].links.일본어 %>">이동</a>
                </div>
            </div>
            <div class="card">
                <div class="circle">
                    <h2>중국어</h2>
                </div>
                <div class="content">
                    <p>중국어 수업으로 이동합니다</p>
                    <a href="<%= data[0].links.중국어 %>">이동</a>
                </div>
            </div>
        </div>
    </body>
</html>